*
{
    margin: 0px;
    padding: 0px;
}

.main
{
    height: auto;
    border: 1px;
}


@media (min-width: 240px) and (max-width: 560px) 
{
    .main
    {
        height: auto;
    }

    .btn
    {
        width: 150px;
        margin-left: -13px;


    }

    h3 
    {
        font-size: 20px;
    }
    
    .w-25,label,.btn,.confirm
    {
        font-size: 11px;
    }

    .w-100
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: -35px;
    }

    label
    {
        margin-right: 20px;
    }
    .radio-btn
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 20px;

    }



    

    
}


