
 body{
    margin:0;
    background:#f5f7fa;
}

h1{
    font-family:'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
    font-weight:700;
    color:#35474c;
    margin-bottom:20px;
}

.patient-page{
    width:100%;
    padding:25px;
}

.patient-card{
    /* width:100%; */
    border-radius:10px;
    padding:20px;
    margin-bottom:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}


.col-6 
{
    margin-right:230px ;
}
label
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 500;
    color: #1976d2;
}



.patient-info p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin:8px 0;
    width: 350px;
    height: 50px;

    font-size:18px;
    color: #2F4F4F;
}

.patient-action{
    margin-top:10px;
}

.table-responsive{
    overflow-x:auto;
}

.table{
    background:white;
}

.table th{
    text-align:center;
    vertical-align:middle;
}

.table td{
    text-align:center;
    vertical-align:middle;
}

.btn{
    margin:3px;
}


.table-render-style{
 
    width: 100%;
}


.btn-light{
  width: 200px;
  margin-bottom: 50px;
  background-color: white;
  font-size: 40px !important;
}

.btn-success,.btn-secondary{
  width: 200px;
  padding: 10px;
}

/* ================================
   PATIENT DOCUMENT TABLE ONLY
   ================================ */


@media print{

.page-break{

    page-break-before: always;

    break-before: page;

}

}

@media(max-width:768px){

.patient-card{

flex-direction:column;
align-items:flex-start;

}

.patient-action{

margin-top:15px;

}

}



@media (min-width: 560px) and (max-width: 768px) {

    .table-container {
        width: auto !important;
        overflow-x: auto;
    }

    .table-bordered {
        width: 100% !important;
        min-width: 300px !important;
        border-radius: 12px !important;
    }

    .table-bordered th,
    .table-bordered td {
        /* width: 100% !important; */
        width: auto !important;
        padding: 4px !important;
        font-size: 8px !important;
    }

    .btn-primary {
        background: #1976d2;
        width: 70px !important;
        border: none;
    }

    .content-col,.consent-head
    {
        display: flex;
        justify-content: flex-start !important;
    }
    .content-col
    {
        margin-top: 20px;
    }

}

@media (min-width: 240px) and (max-width: 560px) {

    .table-container {
        width: 100% !important;
        overflow-x: auto;
    }

    .table-bordered {
        width: 100% !important;
        min-width: 70px !important;
        border-radius: 12px !important;
    }

    .table-bordered th,
    .table-bordered td {
        width: auto !important;
        padding: 3px !important;
        font-size: 8px !important;
        /* white-space: nowrap ; */
    }

    .btn-primary {
        background: #1976d2;
        width: 50px !important;
        font-size: 8px !important;
        margin-right: 70px !important;
        text-align: center;
        border: none;
    }

    .upload-th {
        display: flex;
        justify-content: flex-start !important;

    }

    

    h2
    {
        font-size: 30px !important;
    }


}