
body
{
   background-color:rgb(194, 131, 245);
}

.navbar
{
   background-color: rgb(204, 226, 245);
   display: flex;
   justify-content: space-evenly;
   align-items: center;

}

b{
    margin-left: 15px;
}


h1
{
    margin-left: 40%;
    margin-bottom: 25px;
}
