 td
{
    font-family:'Times New Roman', Times, serif, Courier, monospace;
}

 th
{
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    
}

 td
{
        text-align:center;

}