.table th,
.table td{
    border:1px solid #000 !important;
    vertical-align:top;
    padding:12px;
}

.table thead th{
    text-align:center;
    font-size:16px;
    font-weight:500;
}

.table td{
    font-size:14px;
}

.table strong{
    font-size:14px;
}