.hospitalHeader{
  text-align:center;
  border:3px solid black;
  padding:20px;
  margin-top:35px;
}

.chartPatientInfo{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
  margin-top:20px;
}