.signature-main{

    display:flex;

    align-items:flex-end;

    width:100%;

    gap:5px;

}

.signature-main button{

    flex-shrink:0;

    padding:2px 5px;

}

.line,
.border,
.none{

    flex:1;

    min-width:0;

}


.none{

    border:none;

}

.sigCanvas{

    display:block;

}

.line{

    border-bottom:1px solid #000;

    height:35px;

}

.border{

    border:1px solid #000;

    height:60px;

}



.clear-data
{
    width:"1px";
    display:"block";
}


@media(max-width:768px){

.signature-main{

gap:3px;

}

.line canvas{

height:28px!important;

}

.border canvas{

height:40px!important;

}

}




